.button {
  width: 300px;
  height: 2rem;
  background: orange;
  // border: 2px solid #d1d1d1;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: ease-in 0.2s;
  &:hover {
    background: rgb(209, 136, 0);
  }
}
