.select {
  width: 100%;
  border-width: 2px;
  border-top-color: black;
  border-left-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  padding: 10px 15px;
  &:disabled {
    opacity: 0.4;
  }
}
