.header {
  // margin: 0 1rem;
  padding: 0 1rem;
  height: 4rem;
  background-color:rgb(22, 22, 22);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
  a {
    text-decoration: none;
    color: white;
    
  }
}

.header-link {

}

.h1 {
  
}