.inputText {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
}

.labelInput {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  font-weight: 200;
}
