.unsplashCard {
  font-size: 15px;
}

.imageContainer {
  position: relative;
  display: flex;
}

.cardInfo {
  position: absolute;
  color: #eee;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.253);
  opacity: 0;
  transition: 0.1s ease-in;
  cursor: zoom-in;
}

.cardInfoHovered {
  opacity: 1;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 16px;
  max-width: 75%;
}

.authorInfo {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
  img {
    display: block;
    border-radius: 50%;
    overflow: hidden;
    height: 2rem;
    width: 2rem;
  }
}

.likesCointainer {
  display: inline-flex;
  position: absolute;
  align-items: center;
  gap: 0.5rem;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}

.likeSvg {
  width: 1.5rem;
  height: 1.5rem;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 0.5rem;
}

.tag {
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  text-transform: capitalize;
  color: #767676;
  background-color: #eee;
  cursor: default;
}
