@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 0 3rem;
}

.active {
  color: orange;
}

.search-form {
  width: 100%;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.search-button {
  position: absolute;
  width:2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 0;
  transition: ease-in 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}

.search-svg {
  width:1.5rem;
  height: 1.5rem;
}
